*{
    padding: 0px;
    margin: 0px;

    
}
body{
    background-color: aqua;

    
    .App{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
    }
}
